.chat_message{ data: {message: {id: message.id}}}
 .messaege_user
  = message.user.name
 .message_date
  = message.created_at
 .message_body
  = message.body
 .message_image
  = image_tag message.image_url(:thumb) if message.image_url(:thumb)
 - if current_user.id == message.user_id
  .message_delete_buturn
   %a{"data-method" => "delete", :href => "/groups/#{@group.id}/messages/#{message.id}"}
    Delete
