= render "groups/index"
.contents__chat
 .contents__chat__header
  .edit-group-button
   =link_to "Edit", ""
  %h2
   = @group.name
  %p
 .contents__chat__content
  .contents__chat__content__messages
   - @group.messages.each do | message |
    %h3
     = message.user.name
    %h4
     = message.created_at
    %p
     = message.body
    =image_tag message.image_url(:thumb) if message.image_url(:thumb)
  = form_for [@group, @message] do | f |
   = f.text_area :body, placeholder: "try a message"
   %label{for: "up_image"}
    %i.fa.fa-file-image-o
    = f.file_field :image, id: "up_image"
   = f.submit value: "Send"

