= render "groups/index"
.contents__chat
 .contents__chat__header
  .edit-group-button
   =link_to "Edit", "/groups/#{params[:group_id]}/edit"
  %h2
   = @group.name
  %p
 .contents__chat__content
  .contents__chat__content__messages
   = render @messages
 = form_for [@group, @message] do | f |
  = f.text_area :body, placeholder: "try a message"
  %label{for: "up_image"}
   %i.fa.fa-file-image-o
   = f.file_field :image, id: "up_image"
  = f.submit value: "Send"
